@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: $color-primary;
}

/* latin */
@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    src: local('Space Grotesk Bold'), 
         local('Space Grotesk-Bold'), 
         url('/nextjs-blog-deployment/fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
